body,
html,
body {
  overflow-x: hidden;
  /* evita que la página sea más ancha que la ventana */
}

html {
  color: black;
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: 0;
  padding: 0;
  font: Helvetica;
  /* estilos generales para la página */
}

body:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  /* el div principal está centrado */
}

nav div h4 {
  margin-bottom: 0px;
  /* "tienda online" no tiene margen inferior */
}

[data-component="app"] {
  padding: 1em;
  background: rgb(140, 140, 140);
  min-height: 10em;
  color: #222;
  /* selecciona el elemento que tiene como
  atributo data-component="app"
  y lo estiliza */
}
#app ~ div,
#app ~ ul {
  background-color: rgb(230, 230, 230);
  /* lo que venga despues del elemento de 
  id="app", tendrá fondo blanco */
}

#categoryName {
  font-family: "Helvetica";
  /* el título de la app se estiliza */
}
.btnCategory {
  font-weight: bold;
  /* los botones de categoría se estilizan */
}

.card-img-top {
  height: 230px;
  width: auto;
  border-radius: 10px;
  /* las imagenes dentro de las 
  cards se estilizan */
}
#card {
  display: flex;
  flex-wrap: wrap;
  padding-left: 335px;
  padding-right: 335px;
  justify-content: left;
  align-items: center;
  /* los productos listados estan justificados
  a la izquierda y fluyen en varias lineas */
}
@media (max-width: 1536px) {
  #card {
    padding-left: 143px;
    padding-right: 143px;
    /* padding para pantallas con ancho menor a 1536 */
  }
}
@media (max-width: 1400px) {
  #card {
    padding-left: 84px;
    padding-right: 84px;
    /* padding para pantallas con ancho menor a 1400 */
  }
}
@media (max-width: 1280px) {
  #card {
    padding-left: 24px;
    padding-right: 24px;
    /* padding para pantallas con ancho menor a 1280 */
  }
}
@media (max-width: 1024px) {
  #card {
    padding-left: 50px;
    padding-right: 50px;
    /* padding para pantallas con ancho menor a 1024 */
  }
}
#card .card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid;
  padding: 40px;
  height: 450px;
  /* especificaciones para cada card */
}
.labeled {
  text-decoration: line-through;
  /* tacha los precios con descuento */
}
.btnCategory {
  border: 2px solid #000000;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  color: black;
  box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);
  /* estilos para los botones de categoría */
}
#message {
  font-weight: bold;
  margin: 100px;
  /* estilo para el mensaje de búsqueda que 
  no arroja resultados */
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* estilos para el selector de páginas */
}
.pill {
  background: gray;
  border: black 1px solid;
  /* estilos para el selector de páginas */
}
li {
  margin: 3px;
  /* estilos para el selector de páginas */
}
p {
  margin: 5px;
  /* estilos para el paragraph dentro de las cards */
}
.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  /* estilos para el checkbox */
}
.form-check-input {
  padding-top: 9px;
  /* estilos para el checkbox */
}
